<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% extends "layout.html" %}
</head>

{% block title %}Lisää ravintola{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h3>Lisää uuden ravintolan tiedot</h3>
            <form class="was-validated" action="/newrestaurant" method="POST">
                <div class="mb-3">
                    <label for="validationServer01">Ravintolan nimi</label>
                    <input type="text" class="form-control is-valid" id="validationServer01" name="name"
                        placeholder="Kirjoita ravintolan nimi" required>
                    <div class="invalid-feedback">
                        Kirjoita ravintolan nimi
                    </div>
                    <div class="mb-3">
                        <label for="validationTextarea">Kuvaus</label>
                        <textarea class="form-control is-invalid" id="validationTextarea" name="description"
                            placeholder="Kirjoita lyhyt kuvaus ravintolasta." required></textarea>
                        <div class="invalid-feedback">
                            Kirjoita kuvaus ravintolasta.
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group is-invalid">
                            <div class="input-group-prepend">
                                <label class="input-group-text"
                                    for="validatedInputGroupSelect">Ravintolakategoria</label>
                            </div>
                            <select class="custom-select" multiple size="3" id="validatedInputGroupSelect"
                                name="categories" required>
                                <option disabled selected>Valitse kategoria</option>
                                <script>
                                    function addOptions(options) {
                                        var select = document.getElementById('validatedInputGroupSelect');
                                        options.forEach(option => {
                                            var opt = document.createElement('option');
                                            opt.value = option.id;
                                            opt.textContent = option.text;
                                            select.appendChild(opt);
                                        });
                                    }
                                    addOptions({{ options | tojson }});
                                </script>
                            </select>
                            <a href="/newcategory">Lisää uusi kategoria</a>

                        </div>
                    </div>
                    <h4>Etsi lisättävä ravintola kartalta</h4>
                    <div id="map"></div>
                    <script src="{{ url_for('static', filename='leaflet.js') }}"></script>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" name="check"
                                required>
                            <label class="form-check-label" for="invalidCheck2">
                                Olen tarkastanut ravintolan tiedot ja osoitteen.
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-outline-dark" type="submit">Lisää ravintola</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}