<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='findrestaurant.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    {% extends "layout.html" %}
</head>

{% block title %}{{restaurant.name}}{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col" name="restaurantsinfo">
            <div class="jumbotron">
                <h3>{{restaurant.name}}</h3>
                <p>{{restaurant.info}}</p>

                <ul> Kuulu ravintolakategorioihin:
                    {% for category in categories %}
                    <li>
                        {{category.group_name}}
                    </li>
                </ul>
                {% endfor %}

                <div> Arvostelujen keskiarvo: {{star_avg.star_avg}}</div>
                <div class="row" name="rewievs">
                    {% if session.name %}
                    <p><a href="/review">Arvostele ravintola</a></p>
                    {% else %}
                    <p>Vain kirjautuneet käyttäjät voivat jättää arvosteluja. </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col" name="map">
            <div id="map"></div>
            <script src="{{ url_for('static', filename='findrestaurants.js') }}"></script>
            <script>
                L.marker([{{ lat }}, {{ lon }}])
                    .addTo(map)
                    .bindPopup("{{restaurant.name}}").openPopup();
            </script>
        </div>
    </div>

    <div class="row" name="rewievs">



        <div class="list-group mx-auto">

            {% for review in all_reviews %}

            <li class="list-group-item align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <!-- <h5 class="mb-1">Tähän otsikko</h5> -->

                    <small>Arvosana: {{review.stars}} </small>
                </div>
                <p class="mb-1">{{review.review}}</p>
                <small> Arvion jättänyt: {{review.username}}</small>
            </li>
                {% endfor %}
        </div>


    </div>


</div>





{% endblock %}